#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #786BD6;
}

.Nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.Nav__logo{
  margin-top: 12px;
}
.Nav__black{
  z-index: 2;
  background: rgba(0, 0, 0, 0.95);
}

#nav-li {
  float: left;
}

#nav-li, a, details,h4 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-li1 {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}


#nav-li, a:hover {
  background-color: #786BD6;
}
.active {
  background-color: #65A4F6;
}
#header {
color: #111;
font-family: 'Helvetica Neue', sans-serif;
font-size: 275px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
text-shadow: 3px 3px 3px red, 7px 7px 7px blue;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  background-color: #f1f1f1;
  width: 100%;
  height: 100vh;
  padding: 0 1.5rem;
}
/* LOGO */
.slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}

.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}


/* Entries */
h1,h2 {
  text-align: center;
  font-family: 'Domine', serif;
  text-shadow: 1px 1px 2px white;

}



p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;

}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

h3 {
  text-align: center;
  text-shadow: 1px 1px 1px paleturquoise;
  font-family: 'Domine', serif;

}




.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #786BD6;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #6B74EB;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #786BD6;
}

.perspective-line:nth-child(5) {
  left: 145px;
}


/* Forms */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #65A4F6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3e8df4;
}

#travelLog {
  border-radius: 5px;
  background-color: #E1E1E1;
  padding: 20px;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


/* Entries */
.trvl-log{
  text-align:center;

}
figcaption {
  font-size: 24px;
  margin: auto;
  display: block;
  text-align: center;
  font-family: 'Domine', serif;
}


.entry-container {
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;
margin-bottom: 5rem;

}
#blog-post {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: #E1E1E1;
  box-shadow: 5px 5px 5px #786BD6;
  display: flex;
  align-items: center;
  flex-basis: 28%;
  margin: 2%;
  background: #E1E1E1;
  box-sizing: border-box;
  padding: 2%;

  box-shadow: 2px 2px 4px black;
  background-color: #FFEBCD;

}
.blog-post-img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}
.blog-post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}
.blog-post-img::before {
content: '';
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}
.blog-post-date span{
  display: block;
  color: #9365F6;
  font-size: 1.6rem;
  font-weight: 600;
  margin: .5rem 0;
}
#title {
font-size: 2.5rem;
margin: 1.5rem 0 2rem;
text-transform: uppercase;
}

.blog-post-info p {
  font-size: 1.0rem;
  color: rgba(0, 0, 0, 0.7);
overflow: scroll;
}

h2 {
	display: inline;
	position: relative;
	font: 100px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);

}

h2:after {
	content: "Entries";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5);
}
button {
  background: paleturquoise;
  padding: 0.5em;
  margin: 0.5em;
}
/* about  */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.column2 {
  float: right;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

#about {
  padding: 50px;
  text-align: center;
  background-color: #9365F6;
  color: white;
}

.about-container {
  padding: 0 16px;
}

.about-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.pTitle {
  color: grey;
}

.pButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #9365F6;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.pButton:hover {
  background-color: #786AD6;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
