#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9365F6;
}

#nav-li {
  float: left;
}

#nav-li, a, details {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-li, a:hover {
  background-color: #786BD6;
}
.active {
  background-color: #65A4F6;
}
#header {
color: #111;
font-family: 'Helvetica Neue', sans-serif;
font-size: 275px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
text-shadow: 3px 3px 3px red, 7px 7px 7px blue;
}
body {
  background-color: #f1f1f1;
}
/* LOGO */
.slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}

.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #786BD6;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #6B74EB;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #786BD6;
}

.perspective-line:nth-child(5) {
  left: 145px;
}


/* Forms */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #65A4F6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3e8df4;
}

#travelLog {
  border-radius: 5px;
  background-color: #E1E1E1;
  padding: 20px;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


/* Entries */
.trvl-log{
  text-align:center;
}
figcaption {
  font-size: 24px;
  margin: auto;
  display: block;
  text-align: center;
  font-family: 'Domine', serif;
}
#trvlImg {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
img {
  width: 200px;
  display: block;
}
#entry-ul {
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;
}

#entry-logs {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
  margin: 2%;
  background: #E1E1E1;
  box-sizing: border-box;
  padding: 2%;
  box-shadow: 5px 5px 5px #786BD6;
  border-radius: 4px;

}
h2 {
	display: inline;
	position: relative;
	font: 100px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

h2:after {
	content: "Entries";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5);
}
button {
  background: tomato;
  padding: 0.5em;
  margin: 0.5em;
}
/* about  */
.column-2 {
  float: left;
  width: 45%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  height: 475px;
  margin:30px;
  margin-right:30px;
  margin-bottom: 70px;
  background-color: #E1E1E1;
  line-height:2;
}
